<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>お便りが届きました</h1>
    <dl>
      <dt>ラジオネーム</dt>
      <dd><%= @contact.name %></dd>
      <dt>メールアドレス</dt>
      <dd><%= @contact.email %></dd>
      <dt>エピソード</dt>
      <dd><%= @contact.episode %></dd>
      <dt>本文</dt>
      <dd><%= @contact.content %></dd>
    </dl>
  </body>
</html>
